body{
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.output{
    display:grid;
    background-color: lightblue;
    gap: 10px;
    margin: 30px;
}
.output> div{
    border: 1px solid;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr 1fr;
}
.entry{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
input{
    width: 40%;
}

.add{
    width:40%;
}
