

body{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 20fr;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}
.header{
    display: flex;
    padding-inline: 25px;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1/1/1/3;
    background-color: #7dd3fc;
    font-size: 36px;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    grid-row: 2;
    grid-column: 1 / -1;
    
}
.output{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-inline: 40px;
    gap: 35px;
}
.output> div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    background-color: white;
    border: 1px solid;
    border-radius: 8px;
}
.title{
    font-size: 36px;
}
.bookInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author{
    font-size: 26px;
}
.options{
    display:flex;
    justify-content: center;
    gap: 15px;
}
.options > button {
    align-self: center;
   border: none;
   outline: none;
   background-color: inherit;
   font-size: 25px;
   border: 1px solid;
   border-color: white;
   border-radius: 8px;
   
}
.options > button:hover{
    background-color: #a8a29e;
    cursor: pointer;
    transition: 0.5s;
}
.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}
.entry{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color:lightgrey;
}
input{
    border-width: 0;
}

.addBook{
   align-self: center;
   border: none;
   outline: none;
   background-color: inherit;
   font-size: 25px;
   border: 1px solid;
   border-color: #f5f5f5;
   border-radius: 8px;
   padding: 10px;
   margin: 15px;
}

.addBook:hover{
    background-color: #a8a29e;
    cursor: pointer;
    transition: 0.5s;
}
footer{
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    padding: 10px;

}
.homepage{
    
    color: black;
}